<nav class="navbar navbar-light navbar-main navbar-toggleable">
  <button data-target="#menu-drilldown-wrapper" id="menu-drilldown-toggle" class="navbar-toggler navbar-toggler-right" type="button">
      <span class="d-block"><i class="fa fa-bars" aria-hidden="true"></i></span>
      <span class="d-block small">Menu</span>
  </button>
  <a class="navbar-brand" href="/"><img src="./assets/images/the-mall-logo.png" class="img-fluid" alt="The Mall - Ecommerce Template" /></a>
  <form class="form-inline hidden-sm-down">
    <div class="search-wrapper">
      <input type="text" placeholder="Search..." class="ajax-search form-control form-control-lg" />
    </div>
      <button type="submit" class="btn btn-theme btn-lg"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></button>
  </form>
  <ul class="navbar-nav">
      <li href="#" class="nav-item dropdown mega-menu hidden-xs-down show">
          <a href="#">
              <i class="fa fa-tags" aria-hidden="true"></i>
              <span>Categories</span>
          </a>
          <div class="dropdown-menu">
              <div class="row">
                  <div class="col-md-9 col-xl-8">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="category-container">
                                  <a href="/product-category.html" class="h4">Living Room</a>
                                  <ul class="list-unstyled">
                                      <li><a href="/product-category.html">Sofas</a></li>
                                      <li><a href="/product-category.html">Couches</a></li>
                                      <li><a href="/product-category.html">Tables</a></li>
                                      <li><a href="/product-category.html">Sofas</a></li>
                                      <li><a href="/product-category.html">Couches</a></li>
                                      <li><a href="/product-category.html">Tables</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-xl-4">
                      <div class="row">
                          <div class="col-12">
                              <a href="#">
                                  <div class="teaser-box with-overlay">
                                      <img src="/img/teaser-1.jpeg" class="img-fluid" alt="Kitchen teaser" />
                                      <div class="overlay">
                                          <div class="icon">
                                              <i class="fa fa-eye" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-12">
                              <div class="teaser-box with-overlay">
                                  <img src="/img/teaser-2.jpeg" class="img-fluid" alt="Kitchen teaser" />
                                  <div class="overlay">
                                      <div class="icon">
                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li href="#" class="nav-item hidden-xs-down">
          <a href="#" role="button" data-toggle="modal" data-target="#loginModal">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>Account</span>
          </a>
      </li>
      <li href="#" class="nav-item dropdown mega-menu shopping-cart-preview">
          <a href="/cart.html">
              <i class="fa fa-shopping-basket" aria-hidden="true">
                  <span class="basket-indicator">1</span>
              </i>
              <span>Basket</span>
          </a>
          <div class="dropdown-menu">
              <div class="row">
                  <div class="col-4">
                      <img class="img-fluid d-flex flex-column" alt="Awesome product" src="/img/awesome-product.jpg" />
                  </div>
                  <div class="col-8">
                      <p class="h5 text-right">Awesome product</p>
                      <p class="text-right"><b>249,00 €</b></p>
                  </div>
              </div>
              <hr />
              <div class="row">
                  <div class="col-6">
                      <p class="mb-0"><b>Total:</b></p>
                  </div>
                  <div class="col-6">
                      <p class="mb-0 text-primary text-right"><b>249,00 €</b></p>
                  </div>
              </div>
              <hr />
              <div class="row">
                  <div class="col-12">
                      <a href="/cart.html" class="btn btn-primary btn-block">Shopping basket</a>
                  </div>
              </div>
          </div>
      </li>
  </ul>
</nav>
