<header>
  <div class="scrolling-horizontal-wrapper">
    <nav class="navbar navbar-light navbar-top scrolling-horizontal">
        <div class="navbar-nav ml-auto overflow-scroll-tabs">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/news.html">News</a>
            <a class="nav-item nav-link" href="/contact.html">Contact</a>
            <a class="nav-item nav-link" href="/product-category.html">Sofas</a>
            <a class="nav-item nav-link" href="/product-category.html">Tables</a>
            <a class="nav-item nav-link" href="/product-category.html">Couches</a>
        </div>
    </nav>
</div>
<app-sub-header></app-sub-header>
</header>
